.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/node_modules
template/ios/Pods
template/android/app/build
template/android/.gradle
template/android/.idea
template/.buckconfig
template/.gitattributes
template/.watchmanconfig
documentation
.idea
.github